<header class="header" th:fragment="header" xmlns:th="http://www.thymeleaf.org">
  <a th:href="@{/}">
    <p class="logo">V-MoM</p>
  </a>
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li><a class="main-nav-link nav-cta"th:href="@{/upload}">Start now </a></li>
      <li><a class="main-nav-link" href="#Contact">Contact</a></li>
      <li th:if="${#authentication.principal != 'anonymousUser'}">
        <form th:action="@{/logout}" method="post">
          <button class="main-nav-link logout-btn" type="submit">Logout</button>
        </form>
      </li>
      <li th:unless="${#authentication.principal != 'anonymousUser'}">
        <a class="main-nav-link" th:href="@{/login}">Login</a>
      </li>
    </ul>
  </nav>
</header>
