<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta
            name="description"
            content="V-MOM is an intelligent system that automatically converts meeting video recordings into well-structured minutes using speech-to-text and natural language processing technologies."
    />
    <meta charset="UTF-8">
    <title>login V-MOM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/general.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <div class="login-container center-text">
        <h2 class="login-title ">Welcome Back</h2>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <input type="email" class="form-control" id="email" name="username" placeholder="Email*" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password*" required>
            </div>
            <div class="error-messages">
                <div th:if="${invalidEmail}" class="alert alert-danger">
                    Email address is not registered!
                </div>
                <div th:if="${invalidPassword}" class="alert alert-danger">
                    Incorrect password!
                </div>
            </div>
            <button type="submit" class="login-btn">Sign in</button>
            <div class="login-footer">
                Don't have an account? <a href="#" th:href="@{/signup}" class="signup-link">Signup</a>
            </div>
            <a href="#" th:href="@{/forgot-password}" class="forgot-link">Forgot password?</a>
        </form>
    </div>


</body>
</html>